@tailwind base;
@tailwind components;
@tailwind utilities;

/* Divider Styles */
.custom-shape-divider-bottom-1715341285 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1715341285 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 78px;
}

.custom-shape-divider-bottom-1715341285 .shape-fill {
    fill: #FFFFFF;
}
.color{
    color: #a8ecff
}